[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/usr/local/bin/sudo /bin/sh /opt/aeacus/assets/scripts/stop_scoring.sh
Name=Stop Scoring
Icon=/opt/aeacus/assets/img/logo.png
